@{
    ViewData["Title"] = "Summary";
}

<form asp-action="Summary">
    @Html.AntiForgeryToken()
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <partial name="../Shared/_errorSummary.cshtml" />
            
            <h1 class="govuk-heading-l">
                Summary
            </h1>

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Lead tenant</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Age
                            </dt>
                            <dd class="govuk-summary-list__value">
                                38
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> age</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Nationality
                            </dt>
                            <dd class="govuk-summary-list__value">
                                UK national resident in UK
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> nationality</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Working situation
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Part time – less than 30 hours a week
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> working situation</span>
                                </a>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Person 2</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Details known
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Yes
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> whether details are known</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Relationship to lead tenant
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Partner
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> relationship to lead tenant</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Age
                            </dt>
                            <dd class="govuk-summary-list__value">
                                42
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> age</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Working situation
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Unable to work because of long-term sickness or disability
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> working situation</span>
                                </a>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Person 3</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Details known
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Yes
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> whether details are known</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Relationship to lead tenant
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Child
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> relationship to lead tenant</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Age
                            </dt>
                            <dd class="govuk-summary-list__value">
                                7
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> age</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Working situation
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Child under 16
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> working situation</span>
                                </a>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="govuk-form-group">
                <input type="submit" id="btnContinueSave" value="Save and continue" name="save" class="govuk-button" data-module="govuk-button" />
            </div>

            <div class="govuk-form-group">
                <input type="submit" id="btnSaveClose" value="Save and close" name="save" class="govuk-link link-input" />
            </div>

            <div class="govuk-form-group">
                <partial name="~/Views/Shared/_ContactUsForHelp.cshtml" />
            </div>
        </div>
    </div>
</form>