<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Contact the DVA for help</span>
    </summary>
    <div class="govuk-details__text">
        <ul class="govuk-list">
            <li>Telephone: <a href="tel:03002007861">0300 200 7861</a></li>
        </ul>
        <p class="govuk-body">
            <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers" target="blank" rel="nofollow">Find out about call charges</a>
        </p>
        <ul class="govuk-list">
            <li><a class="govuk-link" href="mailto:dva@infrastructure-ni.gov.uk">dva@infrastructure-ni.gov.uk</a></li>
            <li><a class="govuk-link" href="https://www.infrastructure-ni.gov.uk/driver-and-vehicle-agency" target="blank" rel="nofollow">https://www.infrastructure-ni.gov.uk</a></li>
        </ul>
    </div>
</details>