@{
    ViewData["Title"] = "Home Page";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <img src="~/assets/images/check-a-service-is-suitable-new.svg" alt="Image of a gov uk process flow" />
        
        <table class="govuk-table">
            <caption class="govuk-table__caption sr-only">Citizen journeys table</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Citizen journey</th>
                <th class="govuk-table__header" scope="col"></th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
            <td class="govuk-table__cell">Renew your licence</td>
            <td class="govuk-table__cell">
                <a asp-action="Start" asp-controller="Application" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                    Start journey
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
                    </svg>
                </a>
            </td>
            </tbody>
        </table>
    </div>
</div>